.ConceptContainer {
    display: grid;
    grid-template-columns: 50% 50%
}

.Concept {
    width: 100%;
}

input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
}

.query-sentence {
    display: flex;
    border: 2px solid black;
    border-radius: 25px;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    font-size: 24px;
    align-items: center;
}

.checkbox {
    margin-left: 15px;
}